<!DOCTYPE html>
<html>

<head>
    <title>Weather Application</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/images/logo.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a project demonstrating NodeJs knwoledge of using axios, Express, hbs, Async/Await, Promises
            features!
        </p>
        <img class="portrait" src="/images/img_0194.jpg" width="350" height="350" />
    </div>
    {{>footer}}
</body>

</html>